page-activar-ruta {
  .imagen{
    background: url('../assets/splash.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
  }
}
