<ion-header>

    <ion-toolbar color="yellow">
        <ion-title>Mis Rutas Programadas</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content padding class="imagen">
    <ion-item>
        <ion-label>Buscar por fecha</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fecha" (ionChange)="filtrarporfecha()"></ion-datetime>
    </ion-item>
    <ion-list>
        <ion-item class="borde" style="background-color:#7cb9e3;color:white;" *ngIf="value">
            Usted no tiene rutas.
        </ion-item>
        <ion-item-sliding #item *ngFor="let vecs of vec">
            <ion-item class="borde" *ngIf="verificarFecha(vecs.fecha_hora)=='falta'" style="background-color:#3CBC08">
                <ion-badge color="danger" item-end>Aun Falta</ion-badge>
                <p class="cambioText">Nombre de la Ruta: {{ vecs.nombre }}</p>
                <p class="cambioText">Fecha: {{ vecs.fecha_hora }}</p>
                <p class="cambioText">Capacidad Actual: {{ vecs.capacidad }}</p>
            </ion-item>
            <ion-item class="borde" *ngIf="verificarFecha(vecs.fecha_hora)=='pasado'" style="background-color:#D54100">
                <ion-badge color="light" item-end>Ya Paso</ion-badge>
                <p class="cambioText">Nombre de la Ruta: {{ vecs.nombre }}</p>
                <p class="cambioText">Fecha: {{ vecs.fecha_hora }}</p>
                <p class="cambioText">Capacidad Actual: {{ vecs.capacidad }}</p>
            </ion-item>
            <ion-item class="borde" *ngIf="verificarFecha(vecs.fecha_hora)=='falta un dia'" style="background-color:#FFA754">
                <ion-badge color="danger" item-end>Un Dia</ion-badge>
                <p class="cambioText">Nombre de la Ruta: {{ vecs.nombre }}</p>
                <p>Fecha: {{ vecs.fecha_hora }}</p>
                <p class="cambioText">Capacidad Actual: {{ vecs.capacidad }}</p>
            </ion-item>
            <ion-item class="borde" *ngIf="verificarFecha(vecs.fecha_hora)=='hoy'" color="primary" (click)="activarRuta(vecs)">
                <ion-badge color="light" item-end>Hoy</ion-badge>
                <p class="cambioText">Nombre de la Ruta: {{ vecs.nombre }}</p>
                <p>Fecha: {{ vecs.fecha_hora }}</p>
                <p class="cambioText">Capacidad Actual: {{ vecs.capacidad }}</p>
            </ion-item>
            <ion-item-options class="border" side="right">
                <button ion-button color="danger" (click)="borrarRutaAgendada(vecs.id_viaje)"><ion-icon name="trash"></ion-icon>
            Borrar
          </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab bottom right>
        <button ion-fab color="yellow" (click)="seleccinaRuta()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>