.marco { 
    padding:8px; 
    background-color: #f5f5f5; 
    width: 200px; 
    border-bottom: 1px solid #999999; 
    border-right: 1px solid #999999; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 } 